
<div class="container">

    <div class="row">
        <div class="col-1">
        </div>    
        <div class="col-3">
          F1    
        </div>
        <div class="col-3">
          F2
        </div>
        <div class="col-3">
          F3
        </div>
        <div class="col-2">
        </div>
      </div>

  <div class="row">
    <div class="col-1">
    </div>    
    <div class="col-3">
        <input #f1 />
    </div>
    <div class="col-3">
        <input #f2 />
    </div>
    <div class="col-3">
        <input #f3 />
    </div>
    <div class="col-2">
      <button (click)="add(f1.value,f2.value,f3.value); f1.value=''; f2.value=''; f3.value=''">
        add
      </button>
    </div>
  </div>

  <div class="row" *ngFor="let record of records" >
    <div class="col-1">
        <a routerLink="/detail/{{record.id}}">
          <span class="badge">{{record.id}}</span>
        </a>
    </div>
    <div class="col-3">
        <a routerLink="/detail/{{record.id}}">
          {{record.f1}} 
        </a>
    </div>
    <div class="col-3">
        <a routerLink="/detail/{{record.id}}">
          {{record.f2}} 
        </a>
    </div>
    <div class="col-3">
        <a routerLink="/detail/{{record.id}}">
          {{record.f3}} 
        </a>
    </div>
    <div class="col-2">
        <button class="Xdelete" title="delete record"
        (click)="delete(record)">delete</button>
    </div>
  </div>
</div>