
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">F1</th>
        <th scope="col">F2</th>
        <th scope="col">F3</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input #f1 /></td>
        <td><input #f2 /></td>
        <td><input #f3 /></td>
        <td><button type="button" class="btn btn-primary" (click)="add(f1.value,f2.value,f3.value); f1.value=''; f2.value=''; f3.value=''">Add</button></td>
      </tr>
      <tr *ngFor="let record of records">
        <td>{{record.id}}</td>
        <td>{{record.f1}}</td>
        <td>{{record.f2}}</td>
        <td>{{record.f3}}</td>
        <td>
          <a routerLink="/detail/{{record.id}}">
            <button type="button" class="btn btn-primary">Edit</button>
          </a>
          <button type="button" class="btn btn-secondary" (click)="delete(record)" style="margin-left: 10px;">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>